<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-7">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-12 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form [formGroup]="formulario" (ngSubmit)="validarFormulario()">
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Inicio de Sesión</h5>

                                    <div class="form-outline mb-4">
                                        <input formControlName="username" type="email" placeholder="usuario"
                                            class="form-control form-control-lg" id="usuario" name="usuario" />
                                        <label class="form-label" for="usuario">Usuario</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="row">
                                            <div class="col-md-12" style="display: flex;align-items: center;">
                                                <input formControlName="password" [type]="isEjeShow ? 'password' : 'text'" placeholder="Clave"
                                                    class="form-control form-control-lg" id="clave" name="clave" />
                                                <i [ngClass]="isEjeShow ? 'fa fa-eye-slash' : 'fa fa-eye'"
                                                    style="margin-left: -40px;font-size: 30px;"
                                                    (click)="ejePassword()"></i>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="form-label" for="clave">Clave</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button class="btn btn-primary btn-lg btn-block" type="submit"> Entrar </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-spinner [cargar]="cargar"></app-spinner>