<div class="container">
    <div class="title mt15">
        <h1>Usuarios</h1>
    </div>

    <div class="title mt15">
        <div class="row">

            <div class="detail-table-socio">
                <table class="table table-striped table-hover table-socio fz15">
                    <thead>
                        <tr>
                            <th scope="col" class="mw-60">ID</th>
                            <th scope="col" class="mw-60">Nombre</th>
                            <th scope="col" class="mw-60">Email</th>
                            <th scope="col" class="mw-60">Estado</th>
                            <th scope="col" class="mw-60">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (user of usuarios; track user.id; let index = $index) {
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.ctaUsr }}</td>
                            <td>{{ user.ctaEmail }}</td>
                            <td><input type="checkbox" name=""></td>
                            <td></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <app-spinner [cargar]="cargar"></app-spinner>