<div class="container">
    <div class="title mt15">
        <h1>Home</h1>
    </div>

    <div class="titleSecction">
        <div class="row styoleBorder">
            <div class="col-12">
                <div class="row">
                    <div class="col-xs-12 col-md-6">

                        <button [routerLink]="['/infosocio']" type="text" class="btn btn-primary mb10 formatCard">
                            <i class="bi bi-gear-wide-connected formatCardIcon"></i>
                            Detalle de Socios
                        </button>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <button [routerLink]="['/fichas/socios']" type="text"
                            class="btn btn-primary mb10 formatCard">
                            <i class="bi bi-filetype-pdf formatCardIcon"></i>
                            Fichas
                        </button>
                    </div>

                    <!--<div class="col-xs-12 col-md-4">
                        <button [routerLink]="['/home']" type="text" class="btn btn-primary mb10 formatCard">
                            <i class="bi bi-gear-wide-connected formatCardIcon"></i>
                            Extra
                        </button>
                    </div>-->
<!--
                    <div class="col-xs-12 col-md-6">

                        <button type="text" class="btn btn-primary mb10 formatCard">
                            Parámetros -> Setor
                        </button>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <button type="text"
                            class="btn btn-primary mb10 formatCard">
                            Maestros
                        </button>
                    </div>


                    <div class="col-xs-12 col-md-6">

                        <button type="text" class="btn btn-primary mb10 formatCard">
                            Cartolas
                        </button>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <button type="text"
                            class="btn btn-primary mb10 formatCard">
                            Informes
                        </button>
                    </div>

                    <div class="col-xs-12 col-md-12">
                        <button type="text" style="width: 100%;"
                            class="btn btn-primary mb10">
                            Administrador de permisos
                        </button>
                    </div>
                -->
                    <div class="col-xs-12 col-md-4">
                        <button [routerLink]="['/usuarios']" type="text" class="btn btn-primary mb10 formatCard">
                            <i class="bi bi-person-up formatCardIcon"></i>
                            Usuarios
                        </button>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <button [routerLink]="['/roles']" type="text" class="btn btn-primary mb10 formatCard">
                            <i class="bi bi-person-rolodex formatCardIcon"></i>
                            Roles
                        </button>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <button [routerLink]="['/permisos']" type="text" class="btn btn-primary mb10 formatCard">
                            <i class="bi bi-shield-lock formatCardIcon"></i>
                            Permisos
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>