<div class="container">
    <div class="titleSection mt15">
        <h1>Home</h1>
    </div>

    <div class="titleSecction">
        <div class="row styoleBorder">
            <div class="col-12">
                <div class="row">
                    @if (isSocio) {
                    <div class="col-xs-12 col-md-3">
                        <button [routerLink]="['/kapmae']" type="text" class="btn btn-primary mb10 formatCard">
                            <i class="bi bi-gear-wide-connected formatCardIcon"></i>
                            Socios
                        </button>
                    </div>
                    }

                    @if (isFicha) {
                    <div class="col-xs-12 col-md-3">
                        <button [routerLink]="['/fichas/socios']" type="text" class="btn btn-primary mb10 formatCard">
                            <i class="bi bi-filetype-pdf formatCardIcon"></i>
                            Fichas
                        </button>
                    </div>
                    }

                    @if (isSector) {
                    <div class="col-xs-12 col-md-3">
                        <button [routerLink]="['/sector']" type="text" class="btn btn-primary mb10 formatCard">
                            <!--<i class="bi bi-gear-wide-connected formatCardIcon"></i>-->
                            Sectores
                        </button>
                    </div>
                    }

                    @if (isComuna) {
                    <div class="col-xs-12 col-md-3">
                        <button [routerLink]="['/comuna']" type="text" class="btn btn-primary mb10 formatCard">
                            <!--<i class="bi bi-filetype-pdf formatCardIcon"></i>-->
                            Comunas
                        </button>
                    </div>
                    }

                    @if (isUser) {
                    <div class="col-xs-12 col-md-4">
                        <button [routerLink]="['/user']" type="text" class="btn btn-primary mb10 formatCard">
                            <i class="bi bi-person-up formatCardIcon"></i>
                            Usuarios
                        </button>
                    </div>
                    }

                    @if (isRol) {
                    <div class="col-xs-12 col-md-4">
                        <button [routerLink]="['/rol']" type="text" class="btn btn-primary mb10 formatCard">
                            <i class="bi bi-person-rolodex formatCardIcon"></i>
                            Roles
                        </button>
                    </div>
                    }

                    @if (isPermiso) {
                    <div class="col-xs-12 col-md-4">
                        <button [routerLink]="['/permiso']" type="text" class="btn btn-primary mb10 formatCard">
                            <i class="bi bi-shield-lock formatCardIcon"></i>
                            Permisos
                        </button>
                    </div>
                    }

                    @if (
                    !isSocio && !isFicha && !isSector &&
                    !isComuna && !isUser && !isRol &&
                    !isPermiso
                    ) {
                    <div class="col-xs-12 col-md-12 emptyReg">
                        <label>
                            No presenta Permisos para ver esta Sección.
                        </label>
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>