<div class="container">
    <div class="title mt15">
        <h1>Roles</h1>
    </div>

    <div class="row mt15">
        <div class="col-12 text-right">
            <div class="row justify-content-end">
                <div class="col-12 ">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 mt15 fr">
                        <button type="button" class="btn btn-primary w100" (click)="agregaModal(myModalContent)">Agregar
                            Rol</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt15">

        <div class="row justify-content-end">
            <div class="col-xs-12 col-sm-2 col-xl-2 mt15"><select class="form-select w100 tac" [(ngModel)]="req.limit"
                    (ngModelChange)="loadCargar()">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                </select></div>
            <div class="col-xs-12 col-sm-10 col-xl-10 mt15">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="req.pageSize" [pageSize]="req.limit"
                    [maxSize]="3" [boundaryLinks]="true" (pageChange)="loadCargar()" class="fr">
                </ngb-pagination>
            </div>
        </div>

        <div class="detail-table-rol">
            <table class="table table-striped table-hover table-rol fz15">
                <thead>
                    <tr>
                        <th scope="col" class="mw-160">
                            <div><input type="text" class="form-control w100 mb10" placeholder="Nombre"
                                    (blur)="loadCargar()" [(ngModel)]="req.name"></div>
                        </th>
                        <th scope="col" class="mw-60"></th>
                        <th scope="col" class="mw-60"></th>
                        <th scope="col" class="mw-60"></th>
                        <th scope="col" class="mw-60"></th>
                    </tr>
                    <tr>
                        <th scope="col" class="mw-60">Nombre</th>
                        <th scope="col" class="mw-60">Descripción</th>
                        <th scope="col" class="mw-60">Código</th>
                        <th scope="col" class="mw-60">Estado</th>
                        <th scope="col" class="mw-60">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (rol of roles; track rol.id; let index = $index) {
                    <tr>
                        <td>{{ rol.name }}</td>
                        <td>{{ rol.descrip }}</td>
                        <td>{{ rol.code }}</td>
                        <td>
                            <input type="checkbox" [(ngModel)]="rol.estado" id="user-table-{{ rol.id }}"
                                name="permissions-table-[{{ rol.id }}][{{ rol.estado }}]" disabled="" />
                        </td>
                        <td style="display: flex;justify-content: space-evenly;flex-wrap: wrap;">
                            <button type="button" class="btn btn-primary" (click)="editarModal(myModalContent, rol)">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button type="button" class="btn btn-primary"
                                (click)="deleteModal(myModalContentDelete, rol)">
                                <i class="bi bi-trash3"></i>
                            </button>
                            @if (rol.addRol) {
                            <button type="button" class="btn btn-primary" (click)="setPermisos(index)">
                                <i class="bi bi-plus-square"></i>
                            </button>
                            } @else {
                            <button type="button" class="btn btn-primary" (click)="setPermisos(index)">
                                <i class="bi bi-plus-square-fill"></i>
                            </button>
                            }
                        </td>

                    </tr>
                    @if(rol.addPermisos) {
                    <tr>
                        <td colspan="6">
                            <div class="row">

                                <div class="col-12">
                                    <h5>Permisos Asignados</h5>
                                    <div class="row">
                                        @for (permiso of rol.permisos; track permiso.id; let index = $index) {
                                        <div class="col-1">
                                            <button type="button" class="btn btn-primary"
                                                (click)="deletePermiso(myModalContentDelete, rol)">
                                                <i class="bi bi-trash3"></i>
                                            </button>
                                        </div>
                                        <div class="col-11">
                                            {{ permiso.id }} -- {{ permiso.name }} -- {{ permiso.code }}
                                        </div>
                                        } @empty {
                                        <h6>Sin Permisos asignados</h6>
                                        }
                                    </div>
                                </div>

                                <div class="col-12">
                                    <h5>Permisos Sección</h5>
                                    <div class="row">

                                        <div class="col-4">
                                            <select class="form-select w100">
                                                <option value="" selected>Seleccionar</option>
                                                @for (permiso of permisos; track permiso.id; let index = $index) {
                                                <option value="{{permiso.id}}">{{ permiso.name }}</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="row justify-content-end containerButton">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                                            <button type="button" class="btn btn-primary w100"
                                                (click)="agregarPermiso(index)">Agregar</button>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                                            <button type="button" class="btn btn-primary w100"
                                                (click)="guardarPermisos()">Guardar</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                    }
                    } @empty {
                    <tr>
                        <th scope="row" colspan="6">
                            <div class="tac">Sin Resultados</div>
                        </th>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row justify-content-end">
            <div class="col-xs-12 col-sm-2 col-xl-2 mt15"><select class="form-select w100 tac" [(ngModel)]="req.limit"
                    (ngModelChange)="loadCargar()">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                </select></div>
            <div class="col-xs-12 col-sm-10 col-xl-10 mt15">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="req.pageSize" [pageSize]="req.limit"
                    [maxSize]="3" [boundaryLinks]="true" (pageChange)="loadCargar()" class="fr">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>

<ng-template #myModalContent let-modal>
    <div class="container p25">
        <div class="title bb6">
            @if (isEdit) {
            <h1>Editar Rol</h1>
            } @else {
            <h1>Crear Rol</h1>
            }
        </div>
        <div class="row mb15">
            <div class="col-xs-12 col-xl-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <label class="col-form-label col-form-label-sm" for="name">Nombre</label>
                        <input class="form-control form-control-sm" type="text" placeholder="" id="name"
                            [(ngModel)]="rolModal.name">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="col-form-label col-form-label-sm" for="descrip">Descripción</label>
                        <input class="form-control form-control-sm" type="text" placeholder="" id="descrip"
                            [(ngModel)]="rolModal.descrip">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="col-form-label col-form-label-sm" for="code">Código</label>
                        <input class="form-control form-control-sm" type="text" placeholder="" id="code"
                            [(ngModel)]="rolModal.code">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="col-form-label col-form-label-sm" for="estado">Estado</label>
                        <div class="col-12 border-chack">
                            <input type="checkbox" [(ngModel)]="rolModal.estado" id="rol-{{ rolModal.id }}"
                                name="permissions[{{ rolModal.id }}][{{ rolModal.estado }}]" [disabled]="!isEdit" />
                        </div>
                    </div>
                </div>
                <div class="row mt15">
                    <div class="col-12 text-right">
                        <div class="row justify-content-end">
                            <div class="col-12 ">
                                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 mt15 fr">
                                    <button type="button" class="btn btn-primary w100" (click)="guardar()">
                                        @if (isEdit) {
                                        Editar
                                        } @else {
                                        Guardar
                                        }
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #myModalContentDelete let-modal>
    <div class="container p25">
        <div class="title bb6">
            <h1>Eliminar Rol</h1>
        </div>

        <div class="row mb15">
            <div class="col-xs-12 col-xl-12">

                <div class="row">

                    <div class="col-xs-12 col-sm-6">
                        <label class="col-form-label col-form-label-sm" for="deletName">Esta seguro que
                            quiere eliminar el
                            Rol</label>
                        <input class="form-control form-control-sm" type="text" placeholder="" id="deletName"
                            [(ngModel)]="rolDeleteModal.name" disabled="">
                    </div>
                </div>

                <div class="row mt15">
                    <div class="col-12">
                        <div class="row justify-content-end">
                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 mt15 fr">
                                <button type="button" class="btn btn-primary w100" (click)="closeModal()">
                                    Cacelar
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 mt15 fr">
                                <button type="button" class="btn btn-primary w100" (click)="delete()">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-template>

<app-spinner [cargar]="cargar"></app-spinner>