<div class="container">
    <div class="title mt15">
        <h1>Fichas</h1>
    </div>

    <div class="title" style="margin-bottom: 15px;margin-top: 15px;">
        <div class="row styoleBorder">
            <h4>Filtros</h4>
            <div class="col-12">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-xl-3"><input type="text" class="w100 mb10" (blur)="buscarByCodigoInicial()" placeholder="Código Inicial"></div>
                    <div class="col-xs-12 col-md-6 col-xl-3"><input type="text" class="w100 mb10" (blur)="buscarByCodigoFinal()" placeholder="Código Final"></div>
                    <div class="col-xs-12 col-md-6 col-xl-3"><input type="text" class="w100 mb10" (blur)="buscarByAnio()" placeholder="Año"></div>
                    <div class="col-xs-12 col-md-6 col-xl-3"><input type="text" class="w100 mb10" (blur)="buscarByNroPagina()" placeholder="Nro Pagina"></div>
                </div>
                <div class="row justify-content-end containerButton">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 mt15">
                        <button type="button" class="btn btn-primary w100" (click)="openModalTemplate(myModalContent)">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #myModalContent let-modal>
    <app-template-ficha-socio></app-template-ficha-socio>
</ng-template>

<app-spinner [cargar]="cargar"></app-spinner>