@if(authService.isLogged | async) {
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <button [routerLink]="['/home']" style="height: 65px;width: 100%" type="text"
                    class="btn btn-primary mb10">
                    Home
                </button>
            </div>
            <div class="col-md-6">
                <button (click)="logput()" style="height: 65px;width: 100%" type="text" class="btn btn-primary mb10">
                    Log Out
                </button>
            </div>
        </div>
    </div>
</div>
}

<div [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
    <router-outlet />
</div>