.border-chack {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #dee2e6;
    border-radius: 3px;
}

.table-rol thead th {
    --bs-table-bg: #333333;
    --bs-table-color: white;
}

@media (max-width: 575px) {
    .action {
        min-width: 70px;
    }
}

@media (min-width: 576px) {
    .action {
        min-width: 160px;
    }
}

.name {
    min-width: 280px;
}

.desc {
    min-width: 280px;
}

.code {
    min-width: 100px;
}

.estado {
    min-width: 60px;
}

label {
    color: #0d6efd;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    padding-left: 12px;
}

.detail-table-rol {
    max-width: 100%;
    overflow-x: scroll;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.table-rol .sticky {
    position: sticky;
    left: 0;
}

label.error {
    color: red;
}