<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
  <div class="header">
    <h1 class="title">
      Luz Agro
    </h1>
    <div class="toggle" (click)="handleSidebarToggle()">
      <span class="chevron"></span>
    </div>
  </div>
  <div class="content">

    <!--
      <div class="link">
        <div class="content" [routerLink]="['/home']" [routerLinkActive]="'active'">
          <div class="title">Home</div>
        </div>
      </div>
    -->

    <div class="link">
      <div class="content" [routerLink]="['/infosocio']" [routerLinkActive]="'active'">
        <div class="title">Detalle de Socios</div>
      </div>
    </div>

    <div class="link with-children">
      <div class="content" [routerLinkActive]="'false'">
        <div class="title">Accesibilidad</div>
      </div>
      <div class="children">
        <div class="link">
          <div class="content" [routerLink]="['/roles']"
            [routerLinkActive]="'false'">
            <div class="title">Roles</div>
          </div>
        </div>
        <div class="link">
          <div class="content" [routerLink]="['/permisos']"
            [routerLinkActive]="'false'">
            <div class="title">Permisos</div>
          </div>
        </div>
      </div>
    </div>

    <div class="link">
      <div class="content" [routerLink]="['/login']" [routerLinkActive]="'false'">
        <div class="title">Log Out</div>
      </div>
    </div>

  </div>
  <div class="footer"></div>
</div>