<div class="container">
    <div class="title mt15 secctionBlock">
        <label>Registro Socio</label>
    </div>

    <div class="row secctionBlock">
        <div class="col-12">
            <div class="row">
                <div class="col-12 titleTable">
                    <label>DATOS DEL SOCIO</label>
                </div>
                <div class="col-12 secctionTable">
                    <table class="w100">
                        <tbody>
                            <tr class="trStyle">
                                <td class="w35 dataSosTd">RUT</td>
                                <td></td>
                            </tr>
                            <tr class="trStyle">
                                <td class="w35 dataSosTd">CÓDIGO</td>
                                <td></td>
                            </tr>
                            <tr class="trStyle">
                                <td class="w35 dataSosTd">NOMBRE</td>
                                <td></td>
                            </tr>
                            <tr class="trStyle">
                                <td class="w35 dataSosTd">DIRECCIÓN</td>
                                <td></td>
                            </tr>
                            <tr class="trStyle">
                                <td class="w35 dataSosTd">CUOTAS DE PARTICIPACIÓN</td>
                                <td></td>
                            </tr>
                            <tr class="trStyle">
                                <td class="w35 dataSosTd">FECHA DE INGRESO</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row secctionBlock">
        <div class="col-12">
            <div class="row">
                <div class="col-12 titleSeccion">
                    <label>PAUTAS</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row secctionBlock">
        <div class="col-12">
            <div class="row">
                <div class="col-12 titleTable">
                    <label>Blablabla 1:</label>
                </div>
                <div class="col-12 secctionTable">
                    <table class="w100">
                        <tbody>
                            <tr class="trStyle"> </tr>
                            <tr class="trStyle"> </tr>
                            <tr class="trStyle"> </tr>
                            <tr class="trStyle"> </tr>
                            <tr class="trStyle"> </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row secctionBlock">
        <div class="col-12">
            <div class="row">
                <div class="col-12 titleTable">
                    <label>Blablabla 2:</label>
                </div>
                <div class="col-12 secctionTable">
                    <table class="w100">
                        <tbody>
                            <tr class="trStyle"> </tr>
                            <tr class="trStyle"> </tr>
                            <tr class="trStyle"> </tr>
                            <tr class="trStyle"> </tr>
                            <tr class="trStyle"> </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row secctionBlock">
        <div class="col-12">
            <div class="row">
                <div class="col-12 titleTable">
                    <label>Blablabla 3:</label>
                </div>
                <div class="col-12 secctionTable">
                    <table class="w100">
                        <tbody>
                            <tr class="trStyle"> </tr>
                            <tr class="trStyle"> </tr>
                            <tr class="trStyle"> </tr>
                            <tr class="trStyle"> </tr>
                            <tr class="trStyle"> </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="secctionBlock buttonSecction">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-end containerButton">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 mt15">
                        <button type="button" class="btn btn-primary w100"
                            (click)="generatePDF()">Imprimir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>