<div class="container">
    <div class="title">
        <h1>Detalle de Socios</h1>
    </div>
    <div class="title" style="margin-bottom: 15px;margin-top: 15px;">

        <div class="row">
            <h4>Filtros</h4>
            <div class="col-12">
                <div class="row"
                    style="border: 1px solid #d6d7de;margin-right: 0;margin-left: 0;border-radius: 10px;padding-top: 20px;padding-bottom: 10px;">
                    <div class="col-4"><input id="422" class="w100 mb10" (blur)="buscarByNombre()" placeholder="Nombre"></div>
                    <div class="col-4"><input id="622" class="w100 mb10" (blur)="buscarByApePaterno()" placeholder="Apellido Paterno"></div>
                    <div class="col-4"><input id="522" class="w100 mb10" (blur)="buscarByApeMaterno()" placeholder="Apellido Materno"></div>
                    <div class="col-4"><input id="122" class="w100 mb10" (blur)="buscarByRut()" placeholder="Rut Socio"></div>
                    <div class="col-4"><input id="222" class="w100 mb10" (blur)="buscarByCodigo()" placeholder="Código Lus Agro"></div>
                    <div class="col-4"><input id="322" class="w100 mb10" (blur)="buscarBySector()" placeholder="Sector"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="" style="margin-bottom: 15px;margin-top: 15px;">
        <div class="row">
            <div class="col-12">
                <div class="row"
                    style="border: 1px solid #d6d7de;margin-right: 0;margin-left: 0;border-radius: 10px;padding-top: 20px;padding-bottom: 10px;">
                    <div class="col-4">
                        <button type="button" class="btn btn-primary" (click)="seleccionar()">Seleccionar</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-primary" (click)="cerfificado()">Cerfificado</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between p-2">
        <select class="form-select" style="width: auto" [(ngModel)]="pageSize"
            (ngModelChange)="refreshCountries('pao a paso')">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
        </select>
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true"
            (pageChange)="refreshCountries('botonera')">
        </ngb-pagination>
    </div>

    <div class="detail" style="overflow-x: scroll;max-height: 530px;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">rut_cop</th>
                    <th scope="col">ape_pat</th>
                    <th scope="col">ape_mat</th>
                    <th scope="col">nombres</th>
                    <th scope="col">cod_cop</th>
                    <th scope="col">cod_lli</th>
                    <th scope="col">cod_ant</th>
                    <th scope="col">cod_nvo</th>
                    <th scope="col">cod_ori</th>
                    <th scope="col">sec_cop</th>
                    <th scope="col">ano_inc</th>
                    <th scope="col">mto_inc</th>
                    <th scope="col">fec_inc</th>
                    <th scope="col">ano_tra</th>
                    <th scope="col">kap_tra</th>
                    <th scope="col">fec_tra</th>
                    <th scope="col">acc_tra</th>
                    <th scope="col">acc_ret</th>
                    <th scope="col">acc_apo</th>
                    <th scope="col">fec_act</th>
                    <th scope="col">est_tra</th>
                    <th scope="col">est_bon</th>
                    <th scope="col">dir_pos</th>
                    <th scope="col">nro_te1</th>
                    <th scope="col">nro_te2</th>
                    <th scope="col">nro_te3</th>
                    <th scope="col">nro_te4</th>
                    <th scope="col">com_pos</th>
                    <th scope="col">obs_cap</th>
                    <th scope="col">nro_sol</th>
                    <th scope="col">fec_sol</th>
                    <th scope="col">fec_apr</th>
                    <th scope="col">fec_can</th>
                    <th scope="col">est_sol</th>
                    <th scope="col">sec_cte</th>
                    <th scope="col">area</th>
                    <th scope="col">sec_imp</th>
                    <th scope="col">est_reg</th>
                    <th scope="col">acc_con</th>
                    <th scope="col">aju_acc</th>
                </tr>
            </thead>
            <tbody>
                @for (socio of socios | slice: (page-1) * pageSize : page * pageSize; track socio.id; let index =
                $index) {
                <tr (click)="cambioEstado(socio, myModalContent)" [ngClass]="{'selected' : socio.selected}">
                    <th scope="row">{{socio.id}}</th>
                    <td>{{ socio.rut_cop }}</td>
                    <td>{{ socio.ape_pat }}</td>
                    <td>{{ socio.ape_mat }}</td>
                    <td>{{ socio.nombres }}</td>
                    <td>{{ socio.cod_cop }}</td>
                    <td>{{ socio.cod_lli }}</td>
                    <td>{{ socio.cod_ant }}</td>
                    <td>{{ socio.cod_nvo }}</td>
                    <td>{{ socio.cod_ori }}</td>
                    <td>{{ socio.sec_cop }}</td>
                    <td>{{ socio.ano_inc }}</td>
                    <td>{{ socio.mto_inc }}</td>
                    <td>{{ socio.fec_inc }}</td>
                    <td>{{ socio.ano_tra }}</td>
                    <td>{{ socio.kap_tra }}</td>
                    <td>{{ socio.fec_tra }}</td>
                    <td>{{ socio.acc_tra }}</td>
                    <td>{{ socio.acc_ret }}</td>
                    <td>{{ socio.acc_apo }}</td>
                    <td>{{ socio.fec_act }}</td>
                    <td>{{ socio.est_tra }}</td>
                    <td>{{ socio.est_bon }}</td>
                    <td>{{ socio.dir_pos }}</td>
                    <td>{{ socio.nro_te1 }}</td>
                    <td>{{ socio.nro_te2 }}</td>
                    <td>{{ socio.nro_te3 }}</td>
                    <td>{{ socio.nro_te4 }}</td>
                    <td>{{ socio.com_pos }}</td>
                    <td>{{ socio.obs_cap }}</td>
                    <td>{{ socio.nro_sol }}</td>
                    <td>{{ socio.fec_sol }}</td>
                    <td>{{ socio.fec_apr }}</td>
                    <td>{{ socio.fec_can }}</td>
                    <td>{{ socio.est_sol }}</td>
                    <td>{{ socio.sec_cte }}</td>
                    <td>{{ socio.area }}</td>
                    <td>{{ socio.sec_imp }}</td>
                    <td>{{ socio.est_reg }}</td>
                    <td>{{ socio.acc_con }}</td>
                    <td>{{ socio.aju_acc }}</td>
                </tr>
                } @empty {
                <tr>
                    <th scope="row">Empty list of users</th>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<ng-template #myModalContent let-modal>
    <app-detail-socio [socio]="socioModal"></app-detail-socio>
</ng-template>

<app-spinner [cargar]="cargar"></app-spinner>