.selected {
    --bs-table-bg: content: '\f227';
    --bs-table-striped-color: content: '\f227';
    --bs-table-color: content: '\f227';
    --bs-table-hover-color: content: '\f227';
    background: green;
    color: yellow !important;
}