<div class="container">
    <div class="title mt15">
        <h1>Usuarios</h1>
    </div>

    @if (isPermisoVerLista) {
    <div class="title mt15">

        <div class="row mt15">
            <div class="col-12 text-right">
                <div class="row justify-content-end">
                    <div class="col-12 ">
                        @if (isPermisoCreate) {
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 mt15 fr">
                            <button type="button" class="btn btn-primary w100" (click)="agregaModal(myModalContent)">
                                Agregar Usuario
                            </button>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt15">

            <div class="row justify-content-end">
                <div class="col-xs-12 col-sm-2 col-xl-2 mt15"><select class="form-select w100 tac"
                        [(ngModel)]="req.limit" (ngModelChange)="loadCargar()">
                        <option [ngValue]="5">5</option>
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select></div>
                <div class="col-xs-12 col-sm-10 col-xl-10 mt15">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="req.pageSize" [pageSize]="req.limit"
                        [maxSize]="3" [boundaryLinks]="true" (pageChange)="loadCargar()" class="fr">
                    </ngb-pagination>
                </div>
            </div>

            <div class="detail-table-usuario">
                <table class="table table-striped table-hover table-usuario fz15">
                    <thead>
                        <tr>
                            <th scope="col" class="mw-160">
                                <div><input type="text" class="form-control w100 mb10" placeholder="Nombre"
                                        (blur)="loadCargar()" [(ngModel)]="req.ctaUserName"></div>
                            </th>
                            <th scope="col" class="mw-60">
                                <div><input type="text" class="form-control w100 mb10" placeholder="Email"
                                        (blur)="loadCargar()" [(ngModel)]="req.ctaEmail"></div>
                            </th>
                            <th scope="col" class="mw-60"></th>
                            <th scope="col" class="mw-60"></th>
                        </tr>
                        <tr>
                            <th scope="col" class="mw-60">Nombre</th>
                            <th scope="col" class="mw-60">Email</th>
                            <th scope="col" class="mw-60">Estado</th>
                            <th scope="col" class="mw-60">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (user of usuarios; track user.id; let index = $index) {
                        <tr>
                            <td>{{ user.ctaUserName }}</td>
                            <td>{{ user.ctaEmail }}</td>
                            <td>
                                <input type="checkbox" [(ngModel)]="user.estado" id="user-table-{{ user.id }}"
                                    name="permissions-table-[{{ user.id }}][{{ user.estado }}]" disabled="" />
                            </td>
                            <td style="display: flex;justify-content: space-evenly;flex-wrap: wrap;">
                                @if (isPermisoEdit) {
                                <button type="button" class="btn btn-primary"
                                    (click)="editarModal(myModalContent, user)">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                }
                                @if (isPermisoDelete) {
                                <button type="button" class="btn btn-primary"
                                    (click)="deleteModal(myModalContentDelete, user)">
                                    <i class="bi bi-trash3"></i>
                                </button>
                                }
                                @if (isPermisoAddRol) {
                                @if (user.addUser) {
                                <button type="button" class="btn btn-primary" (click)="setRoles(index)">
                                    <i class="bi bi-plus-square"></i>
                                </button>
                                } @else {
                                <button type="button" class="btn btn-primary" (click)="setRoles(index)">
                                    <i class="bi bi-plus-square-fill"></i>
                                </button>
                                }
                                }
                            </td>
                        </tr>
                        @if(user.addRol) {
                        <tr>
                            <td colspan="6">
                                <div class="row">

                                    <div class="col-12">
                                        <h5>Roles Asignados</h5>
                                        <div class="row">
                                            @for (rol of user.rolesDisponibeles; track rol.id; let index = $index) {
                                            @if (!rol.showAtributeOption){
                                            <div class="col-4">
                                                <div class="row mt15">
                                                    <div class="col-2">
                                                        <button type="button" class="btn btn-primary"
                                                            (click)="deleteRoles(user.id, rol.id)">
                                                            <i class="bi bi-trash3"></i>
                                                        </button>
                                                    </div>
                                                    <div class="col-10">
                                                        [{{ rol.id }}] - {{ rol.name }} - {{ rol.code }}
                                                    </div>
                                                </div>
                                            </div>
                                            }
                                            } @empty {
                                            <h6 class="mt15">Sin Roles asignados</h6>
                                            }
                                        </div>
                                    </div>

                                    <div class="col-12 mt15">
                                        <h5>Roles Existentes</h5>
                                        <div class="row">
                                            <div class="col-4">
                                                <select class="form-select w100"
                                                    (ngModelChange)="onChange($event, user.id)"
                                                    [(ngModel)]="user.idSelectedRol">
                                                    <option value="" selected>Seleccionar</option>
                                                    @for (rol of user.rolesDisponibeles; track rol.id; let index =
                                                    $index) {
                                                    @if (rol.showAtributeOption) {
                                                    <option value="{{rol.id}}">[{{ rol.id }}] - {{ rol.name }}</option>
                                                    }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="row justify-content-end containerButton">
                                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                                                <button type="button" class="btn btn-primary w100"
                                                    (click)="guardarRoles(user.id)">
                                                    <i class="bi bi-floppy"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                        } @empty {
                        <tr>
                            <th scope="row" colspan="5">
                                <div class="tac">Sin Resultados</div>
                            </th>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="row justify-content-end">
                <div class="col-xs-12 col-sm-2 col-xl-2 mt15"><select class="form-select w100 tac"
                        [(ngModel)]="req.limit" (ngModelChange)="loadCargar()">
                        <option [ngValue]="5">5</option>
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select></div>
                <div class="col-xs-12 col-sm-10 col-xl-10 mt15">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="req.pageSize" [pageSize]="req.limit"
                        [maxSize]="3" [boundaryLinks]="true" (pageChange)="loadCargar()" class="fr">
                    </ngb-pagination>
                </div>
            </div>

        </div>

    </div>
    } @else {
    <div class="col-xs-12 col-md-12 emptyReg">
        <label>
            No presenta Permisos para ver esta Sección.
        </label>
    </div>
    }

</div>

<ng-template #myModalContent let-modal>
    <div class="container p25">
        <div class="title bb6">
            @if (isEdit) {
            <h1>Editar Usuario</h1>
            } @else {
            <h1>Crear Usuario</h1>
            }
        </div>

        <div class="row mb15">
            <div class="col-xs-12 col-xl-12">

                <div class="row mt15">

                    <div class="col-xs-12 col-sm-6">
                        <label class="col-form-label col-form-label-sm" for="ctaUserName">Nombre</label>
                        <input
                            [ngClass]="hashMapError.has('val_ctaUserName') ? 'form-control form-control-sm errorInputElement ' : 'form-control form-control-sm '"
                            type="text" placeholder="" id="ctaUserName" [(ngModel)]="userModal.ctaUserName">
                        @if(hashMapError.has('val_ctaUserName')) {
                        <span class="errorInputText">{{hashMapError.get('val_ctaUserName')}}</span>
                        }
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="col-form-label col-form-label-sm" for="ctaEmail">Email</label>
                        <input
                            [ngClass]="hashMapError.has('val_ctaEmail') ? 'form-control form-control-sm errorInputElement ' : 'form-control form-control-sm '"
                            type="email" placeholder="" id="ctaEmail" [(ngModel)]="userModal.ctaEmail">
                        @if(hashMapError.has('val_ctaEmail')) {
                        <span class="errorInputText">{{hashMapError.get('val_ctaEmail')}}</span>
                        }
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="col-form-label col-form-label-sm" for="Contrasena">Contraseña</label>
                        <input
                            [ngClass]="hashMapError.has('val_ctaPassWord') ? 'form-control form-control-sm errorInputElement ' : 'form-control form-control-sm '"
                            type="password" placeholder="" id="Contrasena" [(ngModel)]="userModal.ctaPassWord">
                        @if(hashMapError.has('val_ctaPassWord')) {
                        <span class="errorInputText">{{hashMapError.get('val_ctaPassWord')}}</span>
                        }
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="col-form-label col-form-label-sm" for="ConfirmContrasena">
                            Confirmar Contraseña
                        </label>
                        <input class="form-control form-control-sm" type="password" placeholder=""
                            id="ConfirmContrasena" [(ngModel)]="passConfirm">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="col-form-label col-form-label-sm" for="estado">Estado</label>
                        <div class="col-12 border-chack">
                            <input type="checkbox" [(ngModel)]="userModal.estado" id="userModal-{{ userModal.id }}"
                                name="permissions[{{ userModal.id }}][{{ userModal.estado }}]" [disabled]="!isEdit" />
                        </div>
                    </div>

                </div>

                <div class="row mt15">
                    <div class="col-12 text-right">
                        <div class="row justify-content-end">
                            <div class="col-12 ">
                                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 fr">
                                    <button type="button" class="btn btn-primary w100" (click)="guardar()">
                                        @if (isEdit) {
                                        Editar
                                        } @else {
                                        Guardar
                                        }
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-template>

<ng-template #myModalContentDelete let-modal>
    <div class="container p25">
        <div class="title bb6">
            <h1>Eliminar Usuario</h1>
        </div>

        <div class="row mb15">
            <div class="col-xs-12 col-xl-12">

                <div class="row">

                    <div class="col-xs-12 col-sm-6">
                        <label class="col-form-label col-form-label-sm" for="ctaUserName">
                            Esta seguro que quiere eliminar el Usuario
                        </label>
                        <input class="form-control form-control-sm" type="text" placeholder="" id="ctaUserName"
                            [(ngModel)]="userDeleteModal.ctaUserName" disabled="">
                    </div>
                </div>

                <div class="row mt15">
                    <div class="col-12">
                        <div class="row justify-content-end">
                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 mt15 fr">
                                <button type="button" class="btn btn-primary w100" (click)="closeModal()">
                                    Cacelar
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 mt15 fr">
                                <button type="button" class="btn btn-primary w100" (click)="delete()">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-template>

<app-spinner [cargar]="cargar"></app-spinner>