/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.6em;
    color: #333333;
    background-color: #3393d3;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

* {
    box-sizing: border-box;
}

.titleSection {
    color: #0d10fd;
    font-style: italic;
    text-decoration: underline wavy #0d10fd;
}

.w100 {
    width: 100%;
}

.w35 {
    width: 35%;
}

.w100px {
    width: 100px;
}


.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.p25 {
    padding: 25px;
}

.mt15 {
    margin-top: 15px;
}

.fz12 {
    font-size: 12px;
}

.w-auto {
    width: auto
}

.fr {
    float: right;
}

.tac {
    text-align: center;
}

.bb6 {
    border-bottom: 6px #62a3cf solid;
}

div.emptyReg {
    background-color: #dfdfdf;
    border-radius: 30px;

    >label {
        color: #cc3a3a;
        font-size: 20px;
        font-style: italic;
    }
}

.errorInputText {
    padding-left: 10px;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    color: #9d0c0c;
}

.errorInputElement {
    border: 2px dashed #ff0000 !important;
}

.containerButton {
    border: 1px solid #d6d7de;
    margin-right: 0;
    margin-left: 0;
    border-radius: 10px;
    padding-bottom: 10px;
}

.scroll-style::-webkit-scrollbar {
    width: 1em;
    height: 10px;
}

.scroll-style::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.scroll-style::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}