/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.6em;
    color: #333333;
    background-color: #3393d3;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.w100 {
    width: 100%;
}
.w35 {
    width: 35%;
}

.w100px {
    width: 100px;
}


.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.p25 {
    padding: 25px;
}

.mt15 {
    margin-top: 15px;
}
.fz15 {
    font-size: 12px;
}
.w-auto {
    width: auto
}
.fr {
    float: right;
}

.tac {
    text-align: center;
}